global
    maxconn 4096

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend scylla_frontend
    bind *:9042
    default_backend scylla_backend

backend scylla_backend
    balance roundrobin

    server scylla1 scylla1:9042 check
    server scylla2 scylla2:9042 check
